This exercise will require you to pull some data from the Qunadl API. Qaundl is currently the most widely used aggregator of financial market data.

As a first step, you will need to register a free account on the http://www.quandl.com website.

After you register, you will be provided with a unique API key, that you should store:

In [526]:
# Store the API key as a string - according to PEP8, constants are always named in all upper case
API_KEY = 'Hidden'

Qaundl has a large number of data sources, but, unfortunately, most of them require a Premium subscription. Still, there are also a good number of free datasets.

For this mini project, we will focus on equities data from the Frankfurt Stock Exhange (FSE), which is available for free. We'll try and analyze the stock prices of a company called Carl Zeiss Meditec, which manufactures tools for eye examinations, as well as medical lasers for laser eye surgery: https://www.zeiss.com/meditec/int/home.html. The company is listed under the stock ticker AFX_X.

You can find the detailed Quandl API instructions here: https://docs.quandl.com/docs/time-series

While there is a dedicated Python package for connecting to the Quandl API, we would prefer that you use the *requests* package, which can be easily downloaded using *pip* or *conda*. You can find the documentation for the package here: http://docs.python-requests.org/en/master/

Finally, apart from the *requests* package, you are encouraged to not use any third party Python packages, such as *pandas*, and instead focus on what's available in the Python Standard Library (the *collections* module might come in handy: https://pymotw.com/3/collections/ ).
Also, since you won't have access to DataFrames, you are encouraged to us Python's native data structures - preferably dictionaries, though some questions can also be answered using lists.
You can read more on these data structures here: https://docs.python.org/3/tutorial/datastructures.html

Keep in mind that the JSON responses you will be getting from the API map almost one-to-one to Python's dictionaries. Unfortunately, they can be very nested, so make sure you read up on indexing dictionaries in the documentation provided above.

In [623]:
# First, import the relevant modules

import requests
import json
import pandas as pd

In [624]:
# Now, call the Quandl API and pull out a small sample of the data (only one day) to get a glimpse
# into the JSON structure that will be returned:
  
param = {'limit':1}

#URL is obatined for Quandl API call, Stockcode info FSE/AFX_X:
response = requests.get(url = 'https://www.quandl.com/api/v3/datasets/FSE/AFX_X.json', params=param)
response.json()

{'dataset': {'collapse': None,
  'column_index': None,
  'column_names': ['Date',
   'Open',
   'High',
   'Low',
   'Close',
   'Change',
   'Traded Volume',
   'Turnover',
   'Last Price of the Day',
   'Daily Traded Units',
   'Daily Turnover'],
  'data': [['2019-06-25',
    None,
    87.25,
    84.8,
    86.25,
    None,
    156907.0,
    13487083.0,
    None,
    None,
    None]],
  'database_code': 'FSE',
  'database_id': 6129,
  'dataset_code': 'AFX_X',
  'description': 'Stock Prices for Carl Zeiss Meditec (AFX) from the Frankfurt Stock Exchange.<br><br>Trading System: Xetra<br><br>ISIN: DE0005313704',
  'end_date': '2019-06-25',
  'frequency': 'daily',
  'id': 10095370,
  'limit': 1,
  'name': 'Carl Zeiss Meditec (AFX_X)',
  'newest_available_date': '2019-06-25',
  'oldest_available_date': '2000-06-07',
  'order': None,
  'premium': False,
  'refreshed_at': '2019-06-25T22:37:05.976Z',
  'start_date': '2000-06-07',
  'transform': None,
  'type': 'Time Series'}}

In [625]:
# Inspect the JSON structure of the object you created, and take note of how nested it is,
# as well as the overall structure
response.json()['dataset']

{'collapse': None,
 'column_index': None,
 'column_names': ['Date',
  'Open',
  'High',
  'Low',
  'Close',
  'Change',
  'Traded Volume',
  'Turnover',
  'Last Price of the Day',
  'Daily Traded Units',
  'Daily Turnover'],
 'data': [['2019-06-25',
   None,
   87.25,
   84.8,
   86.25,
   None,
   156907.0,
   13487083.0,
   None,
   None,
   None]],
 'database_code': 'FSE',
 'database_id': 6129,
 'dataset_code': 'AFX_X',
 'description': 'Stock Prices for Carl Zeiss Meditec (AFX) from the Frankfurt Stock Exchange.<br><br>Trading System: Xetra<br><br>ISIN: DE0005313704',
 'end_date': '2019-06-25',
 'frequency': 'daily',
 'id': 10095370,
 'limit': 1,
 'name': 'Carl Zeiss Meditec (AFX_X)',
 'newest_available_date': '2019-06-25',
 'oldest_available_date': '2000-06-07',
 'order': None,
 'premium': False,
 'refreshed_at': '2019-06-25T22:37:05.976Z',
 'start_date': '2000-06-07',
 'transform': None,
 'type': 'Time Series'}

These are your tasks for this mini project:

1. Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017 (keep in mind that the date format is YYYY-MM-DD).
2. Convert the returned JSON object into a Python dictionary.
3. Calculate what the highest and lowest opening prices were for the stock in this period.
4. What was the largest change in any one day (based on High and Low price)?
5. What was the largest change between any two days (based on Closing Price)?
6. What was the average daily trading volume during this year?
7. (Optional) What was the median trading volume during this year. (Note: you may need to implement your own function for calculating the median.)

#### Task 1: 
Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017 (keep in mind that the date format is YYYY-MM-DD).

In [626]:
#Apply Parameters:
parameter= {'start_date': '2017-01-01', 'end_date': '2017-12-31'}
r = requests.get(url='https://www.quandl.com/api/v3/datasets/FSE/AFX_X.json', params=parameter)

#Read file as text:
data_text=r.text

#### Task 2: 
Convert the returned JSON object into a Python dictionary.

In [627]:
#Convert text python dictionary:
data= json.loads(data_text)
type(data)

dict

#### Task 3:
Calculate what the highest and lowest opening prices were for the stock in this period.

In [628]:
#Identify columns names:
col_names=r.json()['dataset']['column_names']
col_names

['Date',
 'Open',
 'High',
 'Low',
 'Close',
 'Change',
 'Traded Volume',
 'Turnover',
 'Last Price of the Day',
 'Daily Traded Units',
 'Daily Turnover']

In [629]:
#Convert data to dataframe: 
df=pd.DataFrame(data['dataset']['data'], columns=col_names)

#Identify Null Values: 
df.isnull().sum()

#Drop Null_values:
df=df.drop(columns=['Last Price of the Day', 'Daily Traded Units' ,'Daily Turnover'], axis = 1)

#View table:
df.head()

         Date   Open   High    Low  Close  Change  Traded Volume   Turnover
0  2017-12-29  51.76  51.94  51.45  51.76     NaN        34640.0  1792304.0
1  2017-12-28  51.65  51.82  51.43  51.60     NaN        40660.0  2099024.0
2  2017-12-27  51.45  51.89  50.76  51.82     NaN        57452.0  2957018.0
3  2017-12-22  51.05  51.50  50.92  51.32     NaN        71165.0  3641949.0
4  2017-12-21  51.16  51.52  50.90  51.40     NaN       120649.0  6179433.0

In [630]:
#Minimum Open Price: 
min_open_price = df['Open'].min()

#Maximum Open Price: 
max_open_price = df['Open'].max()
print('Minimum Open Price is $%.2f and Maximum Open Price is $%.2f' % (min_open_price, max_open_price))

Minimum Open Price is $34.00 and Maximum Open Price is $53.11

#### Task 4:
What was the largest change in any one day (based on High and Low price)?

In [631]:
# Calculate difference: 
df['Change'] = df['High'] - df['Low']

difference=df['Change'].max().round(decimals= 2)
print('Maximum difference between high and low is $%.2f' %(difference))

Maximum difference between high and low is $2.81

#### Task 5:
What was the largest change between any two days (based on Closing Price)?

In [632]:
#Calculate sum of close every 2 days: 
#df['2_day_closing']=df['Close'].rolling(window= 1, win_type= 'triang').sum()

In [633]:
#Calculate difference between first and second day closing, such that previous index value is not negative: 

#Create Empty list:
two_day_closing= []

#Iterate over Close:
for k in range(len(df['Close'])):
    
    #Apply condition and Append values to two_day_closing:
    if k-1>=0:
        two_day_closing.append(df['Close'].iloc[k]-df['Close'].iloc[k-1])
    else: 
        two_day_closing.append(0)

In [634]:
#Assign values to new column: 
df['2_day_close']=two_day_closing

In [635]:
#identify Miinimum Close Difference: 
min_close= df['2_day_close'].min()
min_close

-1.7199999999999989

In [636]:
#Identify Maximum Close Difference
max_close_diff= df['2_day_close'].max()
max_close_diff

2.559999999999995

In [637]:
#Select Non Negative Maximum Difference Value: 
if abs(min_close)>max_close:
    print('Maximum Close Difference is $%.2f' % abs(min_close_diff))
else:
    print('Maximum Close Difference is $%.2f' % max_close_diff)

Maximum Close Difference is $2.56

#### Task 6:
What was the average daily trading volume during this year?

In [638]:
#View Table:
df.head()

,Date,Open,High,Low,Close,Change,Traded Volume,Turnover,2_day_close
0,2017-12-29,51.76,51.94,51.45,51.76,0.49,34640.0,1792304.0,0.00
1,2017-12-28,51.65,51.82,51.43,51.60,0.39,40660.0,2099024.0,-0.16
2,2017-12-27,51.45,51.89,50.76,51.82,1.13,57452.0,2957018.0,0.22
3,2017-12-22,51.05,51.50,50.92,51.32,0.58,71165.0,3641949.0,-0.50
4,2017-12-21,51.16,51.52,50.90,51.40,0.62,120649.0,6179433.0,0.08

In [639]:
#Calculate Average Traded Volume: 
avg_trade_vol= df['Traded Volume'].mean()

print('Average Traded Volume is %.2f' %  avg_trade_vol)

Average Traded Volume is 89124.34

#### Task 7:
(Optional) What was the median trading volume during this year. (Note: you may need to implement your own function for calculating the median.)

In [640]:
med_traded_vol= df['Traded Volume'].median()

print('Median Traded Volume is %.2f' %  med_traded_vol)

Median Traded Volume is 76286.00

#### End